# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local

# Databases & SQLite
*.db
*.sqlite
*.sqlite3

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
